
.head {
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
}

/* Header in turquoise */
.header {
    font-size: large;
    position: relative;
    margin: 10% 10%;
    color: #05a079; /* Turquoise color for text */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Add these styles for the logo */
.navbar a.logo {
    padding: 0; /* Remove padding for the logo link */
}

.navbar img {
    height: 60px; /* Set the desired height of the logo */
    margin-top: 10px; /* Adjust the top margin for positioning */
}

.navbar a {
    align-items: center;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    vertical-align: middle;
  }

  .navbar {
    position: fixed;
    text-align: center;
    overflow: hidden;
    background-color: #009688; /* Turquoise background */
    width: 100%;
    top: 0;
    z-index: 1;
    height: 80px;
  }
  
  
  .navbar a:hover {
    background-color: #48d1cc; /* Lighter turquoise on hover */
    color: black;
  }
  
  .navbar a.active {
    background-color: #1de9b6; /* Vibrant turquoise for active state */
    color: white;
  }

  .slideshow-container {
    max-width: 800px; /* Set the maximum width of the slideshow */
    margin: auto; /* Center the slideshow */
}

.mySlides {
    display: none;
    max-width: 70%; /* Make images responsive within the slideshow */
    height: auto;
    margin: auto; /* Center the images within the container */
}
