
* {
  box-sizing: border-box;
  }
  body {
   
    background-image: url("images\\movie_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .navbar {
    position: fixed;
    text-align: center;
    overflow: hidden;
    background-color: #05a079;
    width: 100%;
    top: 0;
    z-index: 1;
    height: 80px;
  }
  .navbar a {
    align-items: center;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
  }
/* Logo styles */
.navbar a.logo {
  padding: 0; /* Remove padding for the logo link */
  width: 10px;
  height: 10px;
}
.navbar a.logo img {
  padding: 0; /* Remove padding for the logo link */
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
  
.navbar a:hover {
  background-color:  #48d1cc;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}
.bg-top1 {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  background-image:  url("images//kids_movie.jpeg");;
  top: 0; /* Stay at the top */
  right: 0;
  z-index: 1;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;

}
  /*.front{
    background-color: cornsilk;
    width: 70%;
    height: 100%;
    position: relative;
    margin: 0 auto; 
  }
  */

  .background_text{
    height: 100%;
    margin-left: 100px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  

  article{
    background-color: transparent;
   
    width: 700px;
    font-family:cursive, Monospace, 'Oswald', sans-serif;
    font-size: 1.5vw;
    padding: 0 40px;
    
    /*border-radius: 5px;*/
    line-height: 1.5;
    font-weight:lighter;
    color: #000;;
    
  }

  p::first-letter {
    color:  #05a079;
    font-size: xx-large;
  }

  h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    font-size: 6vw;
    padding: 0 40px;
  }

  .grid-container {
    display: grid;
    /*grid-template-rows: 10px;*/
    justify-content:flex-start; 
    grid-template-columns: repeat(5, auto);
    gap: 20px;
    align-items:flex-start;

  }

  .grid-container > div{
    text-align: left;
    margin: 30px;
  }

  #prices {
    font-family: cursive, Monospace, 'Oswald', sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #prices td, #prices th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #prices tr:nth-child(even){background-color: #f2f2f2;}
  
  #prices tr:hover {background-color: #ddd;}
  
  #prices th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #05a079;
    color: white;
  }

  @media screen and (max-height: 450px) {
    .bg-top1 {padding-top: 15px;}
    
  }