/* Reset styles */
html, body {
    margin: 0;
    padding: 0;
}
/* Navbar styles */
.navbar {
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: #009688; /* Turquoise background */
    width: 100%;
    top: 0;
    z-index: 1;
    height: 80px;
}

.navbar a {
    align-items: center;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #48d1cc; /* Lighter turquoise on hover */
    color: black;
}

.navbar a.active {
    background-color: #1de9b6; /* Vibrant turquoise for active state */
    color: white;
}

/* Logo styles */
.navbar a.logo {
    padding: 0; /* Remove padding for the logo link */
}

.navbar img {
    height: 60px; /* Set the desired height of the logo */
    margin-top: 10px; /* Adjust the top margin for positioning */
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
}



/* Contact Form styles */
.contact-form {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.contact-form h2 {
    color: #009688;
    text-align: center;
}

.contact-form form {
    display: grid;
    grid-gap: 15px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #009688;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #009688;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #04866b;
}

/* Contact Information styles */
#cintact-info {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

#cintact-info h2 {
    color: #009688;
}

#cintact-info p {
    margin: 10px 0;
    color: #333;
}

/* Media Queries for Responsiveness */
@media only screen and (max-width: 600px) {
    .contact-form, #cintact-info {
        margin: 10px;
        padding: 10px;
    }
}
