* {
    box-sizing: border-box;
    }

    body {
    /* background-image: url("../images/background_green.jpeg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
   }
.navbar {
    position: fixed;
    text-align: center;
    overflow: hidden;
    background-color: #05a079;
    width: 100%;
    top: 0;
    z-index: 1;
    height: 60px;
    display: flex; /* Using flexbox for layout */
    justify-content: space-around; /* Spacing out the navigation links */
    align-items: center;
  }
  
  .navbar a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 20px; /* Adding padding for spacing */
    margin-top: 10px; /* Adding top margin for spacing */
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .logo {
    display: block;
    width: 8%;
    margin: 4px; /* Adding margin for spacing */
  }
  .gallery {
   
    margin: auto;
  }
  .grid-container{
   
    display: grid;
    grid-template-columns: 12vw 12vw 12vw;
    grid-auto-columns: minmax(100px,auto);
    grid-auto-rows: 300px;
    grid-column-gap:  40px;
    grid-row-gap:  20px;
    justify-content:center;
   
  }
  
  
  
  .overlay {
  position:relative; 
  bottom:100px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 159px;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 1vw;
  padding: 10px;
  text-align: center;
  line-height: 3px;
  }
  
  
  .grid-item:hover .overlay {
  opacity: 1;
  }
  
  .grid-container > div  {
  background-image: url("../images/background_green.jpeg");
  border-radius: 8px;
  padding: 10px;
  }
  /* For width 400px and larger: */
@media only screen and (min-width: 400px) {
 
    
  }
  
 
body, html {
height: 100%;
margin: 0;
}